h2 {
    font-size: 30px;
    color: darkolivegreen;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    border: 10px solid olivedrab;
}


.img {
    background-color: orange;
    padding: 20px;
    width: 400px;
    margin: auto;
    height: auto;
    display: block;
}

h1 {
    color: forestgreen;
    font-size: 30px;
    text-align: center;
}

.me {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.pro {
    text-align: center;
}

.hob {
    float: right;
}

.back {
    float: left;
}

body {
    background-color: rgb(240, 231, 218);
    font-family: Georgia, 'Times New Roman', Times, serif;
}